<div *ngFor="let item of items; let id = index">
  <div class="item-container">
    <mat-checkbox
      color="primary"
      class="check"
      [checked]="item.done"
      (click)="this.listData.markDone(id)"
    ></mat-checkbox>
    <p [class.done]="item.done">{{ item.taskName }}</p>
    <button mat-icon-button (click)="onDelete(id)">
      <mat-icon class="test">delete_outline</mat-icon>
    </button>
  </div>
  <mat-divider class="divider"></mat-divider>
</div>
<p *ngIf="items == ''">No tasks!</p>
