<div  *ngIf="items.length > 0">
  <p>To do:</p>
</div>
<div *ngFor="let item of items; let id = index" class="container">
  <div class="item-container">
    <div class="item-checkbox">
      <mat-checkbox
        color="primary"
        class="check"
        [checked]="item.done"
        (click)="this.listData.markDone(id)"
      ></mat-checkbox>
      <p [class.done]="item.done">{{ item.taskName }}</p>
    </div>
    <button mat-icon-button (click)="onDelete(id)">
      <mat-icon class="test">delete_outline</mat-icon>
    </button>
  </div>
</div>
<p *ngIf="items == ''">No tasks!</p>
