.container {
  padding: 1rem;
  border: 1px red solid;
  width: 380px;
  background: linear-gradient(180deg, #433261 0%, #28144D 100%);
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}
h1 {
  margin: 0;
  margin-right: 0.5rem;
}
.title-icon{
  display: flex;
}
.icon-menu{
  transform: scale(1.5);
  cursor: pointer;
}

