<div class="boundary">
  <div class="container" cdkDrag cdkDragBoundary=".boundary" [cdkDragDisabled]="listData.draggingDisabled">
    <div class="title">
      <app-menu></app-menu>
      <div class="title-icon">
        <h1>{{'chores' | uppercase}}</h1>
        <mat-icon [matBadge]="listData.getLength()" matBadgeColor="warn" *ngIf="listData.getLength() > 0"
          >mail_outline</mat-icon
        >
        <mat-icon matBadgeColor="warn" *ngIf="listData.getLength() == 0">mail_outline</mat-icon>
      </div>
    </div>
    <app-search-bar class="search-bar"></app-search-bar>
    <app-items class="items"></app-items>
  </div>
</div>
