<div class="boundary">
  <div class="container" cdkDrag cdkDragBoundary=".boundary" [cdkDragDisabled]="draggingDisabled">
    <div class="title">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="icon-menu">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="switchDragging()">
          <mat-icon *ngIf="!draggingDisabled">lock</mat-icon>
          <mat-icon *ngIf="draggingDisabled">lock_open</mat-icon>
          <span *ngIf="draggingDisabled">Unlock window</span>
          <span *ngIf="!draggingDisabled">Lock window</span>
        </button>
        <button mat-menu-item (click)="deleteItems()">
          <mat-icon>delete_sweep</mat-icon>
          <span>Delete all items</span>
        </button>
      </mat-menu>
      <div class="title-icon">
        <h1>{{'chores' | uppercase}}</h1>
        <mat-icon [matBadge]="count" matBadgeColor="warn" *ngIf="count > 0"
          >mail_outline</mat-icon
        >
        <mat-icon matBadgeColor="warn" *ngIf="count == 0">mail_outline</mat-icon>
      </div>
    </div>
    <app-search-bar class="test"></app-search-bar>
    <app-item class="items"></app-item>
  </div>
</div>
