
.container {
  padding: 1rem;
  width: 380px;
  background: linear-gradient(180deg, #433261 0%, #28144D 100%);
  display: flex;
  flex-direction: column;
  margin: 5rem auto auto;
  box-shadow: 0 8px 61px -17px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 8px 61px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 8px 61px -17px rgba(0,0,0,0.75);
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5px 1rem;
  color: white;
}
h1 {
  margin: 0 0.5rem 0 0;
  font-weight: lighter;
}
.title-icon{
  display: flex;
}
.icon-menu{
  transform: scale(1.5);
  cursor: pointer;
}
.search-bar{
  margin: auto;
}
.items{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}
.handle{
  width: 24px;
  height: 24px;
  color:white;
}
.boundary{
  width: 100%;
  height: 100%;
}
.handle-container{
  display: flex;
  justify-content: flex-end;
}

